<mat-sidenav-container class="sidenav-container">
  <!-- SIDE NAVIGATION -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="/feedback">New Issue</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- MAIN HEADER -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- TITLE -->
      <span>Issue Manager</span>

      <span class="spacer"></span>

      <!-- Account Button -->
      <button mat-icon-button matTooltip="Admin Signin" [matMenuTriggerFor]="menu" aria-label="account menu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <!-- If user is signed in -->
        <ng-container *ngIf="auth.user | async as user; else showSignIn">
          <!-- admin dashbord -->
          <a mat-menu-item routerLink="/admin">
            <mat-icon>dashboard</mat-icon>
            <span>Admin Dashboard</span>
          </a>

          <!-- support page -->
          <a mat-menu-item routerLink="/support">
            <mat-icon>bug_report</mat-icon>
            <span>Support Page</span>˝
          </a>

          <!-- sign out button -->
          <button mat-menu-item (click)="onClickSignOut()">
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
          </button>
        </ng-container>

        <!-- if user is NOT signed in -->
        <ng-template #showSignIn>
          <a mat-menu-item routerLink="/signin">
            <mat-icon>login</mat-icon>
            <span>Sign In</span>
          </a>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
    <!-- MAIN CONTENT -->
    <app-issue-list></app-issue-list>
  </mat-sidenav-content>
</mat-sidenav-container>
