<table mat-table [dataSource]="dataSource">
   <!-- title column -->
   <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
   </ng-container>

   <!-- author column -->
   <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
   </ng-container>

   <!-- isbn column -->
   <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef>ISBN</th>
      <td mat-cell *matCellDef="let book">{{ book.isbn }}</td>
   </ng-container>

   <!-- createdAt -->
   <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let book">{{ book.createdAt | date }}</td>
   </ng-container>

   <!-- delete book button -->
   <ng-container matColumnDef="deleteBook">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let book">
         <button
            mat-icon-button
            color="warn"
            (click)="onDeleteBook(book._id)"
            matTooltip="Delete Book"
            aria-label="Delete Book">
            <mat-icon>delete</mat-icon>
         </button>
      </td>
   </ng-container>

   <!-- edit book button -->
   <ng-container matColumnDef="editBook">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let book">
         <a mat-icon-button color="primary" routerLink="/edit-book/{{ book._id }}">
            <mat-icon>edit</mat-icon>
         </a>
      </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
   <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
