.grid-container {
  max-width: 1320px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.book-card {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 16px;
  box-shadow: none;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.spacer {
  flex: 1 1 auto
}