<!-- BOOK GRID -->
<mat-grid-list class="grid-container" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
   <!-- BOOK TILE -->
   <mat-grid-tile *ngFor="let book of books" [colspan]="colspan" [rowspan]="rowspan">
      <mat-grid-tile-header>
         <p>{{ book.title }}</p>
      </mat-grid-tile-header>

      <a routerLink="/books/{{ book._id }}">
         <img src="../../../assets/images/cover_image.jpg" alt="{{ book.title }}" />
      </a>

      <mat-grid-tile-footer>
         <p>{{ book.author }}</p>
      </mat-grid-tile-footer>
   </mat-grid-tile>
</mat-grid-list>
