<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
   @for (book of books; track book) {
   <mat-grid-tile [colspan]="colspan" [rowspan]="rowspan" class="color">
      <mat-card class="book-card" appearance="raised">
         <mat-card-header>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
         </mat-card-header>

         <span class="spacer"></span>

         <mat-card-actions>
            <button mat-button color="primary" routerLink="/books/{{ book._id }}">Open</button>
         </mat-card-actions>
      </mat-card>
   </mat-grid-tile>
   }
</mat-grid-list>
