<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="
      (isHandset$ | async) || (isSmall$ | async) ? 'dialog' : 'navigation'
    "
    [mode]="(isHandset$ | async) || (isSmall$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) || (isSmall$ | async) === false"
  >
    <mat-toolbar>My Library App</mat-toolbar>

    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <app-book-grid></app-book-grid>
  </mat-sidenav-content>
</mat-sidenav-container>
