.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-page-content {
  // background-color: rgb(158, 101, 101);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
