<app-header></app-header>
<app-announcement-banner></app-announcement-banner>

<mat-grid-list class="container" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">

  <mat-grid-tile [colspan]="colspan">
    <!-- BOOK DESCRIPTION -->
    <app-book-description></app-book-description>
  </mat-grid-tile>

  <mat-grid-tile>
    <!-- BOOK DETAILS -->
      <app-book-details></app-book-details>
      <app-book-action-bar></app-book-action-bar>
  </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
