@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .reset-password-page-container {

      color: mat.get-color-from-palette($primary-palette, 900);
      background: mat.get-color-from-palette($primary-palette, 50);
   }
}

// typography mixin
@mixin typography($theme) {
   .reset-password-page-container {
      font: mat.font-family($typography-config);
   }
}

// theme mixin - fit this!
@mixin theme($theme) {
}
