<app-header></app-header>
<app-announcement-banner></app-announcement-banner>

<main class="container">
  <form [formGroup]="passwordResetForm" novalidate (ngSubmit)="onSubmitResetPassword()">
    <mat-card class="forgot-password-form">
      <h3 class="mat-headline-4">Forgot your password?</h3>

      <h4 class="mat-body-1">Enter your email below and we will send you a reset link.</h4>

      <!-- EMAIL (email) -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="name@example.com" />
        <mat-error>Please enter your email address.</mat-error>
      </mat-form-field>

      <div class="card-actions">
        <button mat-flat-button color="primary" type="submit">Send</button>
      </div>
    </mat-card>
  </form>
</main>
<app-footer></app-footer>
