@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$green-palette);

.recent-issues {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 1rem;

  background-color: mat.get-color-from-palette($my-palette, 50);
  color: mat.get-color-from-palette($my-palette, 600);
  box-shadow: none;
  border-radius: 15px;
}