<mat-toolbar color="primary">

  <mat-toolbar-row class="main-header">

    <a mat-icon-button routerLink="/" aria-label="home icon">
      <mat-icon>book</mat-icon>
    </a>

    <span class="header-text">My Library App</span>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-labe="Account menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <!-- if user is signed in -->

      <ng-container *ngIf="auth.user | async as user; else showSignIn">

        <!-- my profile page -->
        <a mat-menu-item routerLink="/profile">
          <mat-icon>dashboard</mat-icon>
          <span>My Profile</span>
        </a>

        <!-- sign out button -->
        <button mat-menu-item (click)="onClickSignOut()">
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </button>

      </ng-container>

      <!-- if user is NOT signed in -->
      <ng-template #showSignIn>
        <a mat-menu-item routerLink="/signin">
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </a>

      </ng-template>


    </mat-menu>

  </mat-toolbar-row>

  <mat-toolbar-row color="accent" class="announcement-banner">
    <h6>This web application is currently in development.</h6>
  </mat-toolbar-row>


</mat-toolbar>
