@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .book-details {
      color: mat.get-theme-color($theme, primary, 900);
      background-color: mat.get-theme-color($theme, primary, 50);
      border: .5px mat.get-theme-color($theme, primary, 200) solid;
      border-radius: .5rem;
   }
}

// typography mixin
@mixin typography($theme) {
   .book-details {
      font: mat.get-theme-typography($theme, body-1);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}
