<mat-card class="book-details">
  <mat-list dense>
    <!-- ISBN -->
    <mat-list-item>
      <h3 mat-line>ISBN:</h3>
      <p>
        <strong>{{ book.isbn }}</strong>
      </p>
    </mat-list-item>

    <mat-divider [inset]="true"></mat-divider>

    <!-- Publication Date -->
    <mat-list-item>
      <h3 mat-line>Published:</h3>
      <p>
        <strong>{{ book.publicationDate }}</strong>
      </p>
    </mat-list-item>

    <mat-divider [inset]="true"></mat-divider>

    <!-- Author -->
    <mat-list-item>
      <h3 mat-line>Author:</h3>
      <p>
        <strong>{{ book.author }}</strong>
      </p>
    </mat-list-item>

    <mat-divider [inset]="true"></mat-divider>

    <!-- Page Count -->
    <mat-list-item>
      <h3 mat-line>Page Count:</h3>
      <p>
        <strong>{{ book.pageCount }} pages</strong>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
