.container {
    height: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  // mat-grid-tile {
  //   //   background-color: cadetblue;
  //   border: 1px red solid;
  // }