@use 'sass:map';
@use '@angular/material' as mat;



// color mixin
@mixin color($theme) {
   // read color value from a theme, use the 'get-color-config' Sass function
   $color-config: mat.get-color-config($theme);

   // Get the primary color palette from the color-config
   $primary-palette: map.get($color-config, 'primary');
   // Get the accent color palette from the color-config
   $accent-palette: map.get($color-config, 'accent');
   // Get the warn color palette from the color-config
   $warn-palette: map.get($color-config, 'warn');
   // Get the 'is-dark' color palette from the color-config
   $is-dark-palette: map.get($color-config, 'is-dark');

   .recent-books {
      // read the 500 hue from the primary color palette
      color: mat.get-color-from-palette($primary-palette, 900);
   }
}

// typography mixin
@mixin typography($theme) {
   // read typography values from a theme, use the 'get-typography-config' Sass function
   $typography-config: mat.get-typography-config($theme);

   .recent-books {
      font-family: mat.font-family($typography-config);
   }
}

// add a theme mixin for both color and typography
@mixin theme($theme) {
   $color-config: mat.get-color-config($theme);
   @if $color-config != null {
      @include color($theme);
   }

   $typography-config: mat.get-typography-config($theme);
   @if $typography-config != null {
      @include typography($theme);
   }
}
