@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$green-palette);

.recent-books {
  background: mat.get-color-from-palette($my-palette, 50);
  color: mat.get-color-from-palette($my-palette, 600);
  box-shadow: none;
  border-radius: 10px;
}
