@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .hero-container {
      color: mat.get-theme-color($theme, accent, 200);
      background-color: mat.get-theme-color($theme, primary, 100);
   }
}

// typography mixin
@mixin typography($theme) {
   .hero-container {
      font: mat.get-theme-typography($theme, body-1);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}
