<div class="grid-container">
   <!-- GRID HEADER -->
   <header class="header-content">
      <h5 class="mat-headline-5">Featured Books</h5>
      <a mat-stroked-button color="primary" routerLink="/books">VIEW ALL BOOKS</a>
   </header>

   <mat-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
      <mat-grid-tile *ngFor="let recentBook of recentBooks" [colspan]="colspan" [rowspan]="rowspan">
         <a routerLink="/books/{{ recentBook._id }}">
            <mat-grid-tile-header>
               <p>{{ recentBook.title }}</p>
            </mat-grid-tile-header>

            <mat-grid-tile-footer>
               <p>{{ recentBook.author }}</p>
            </mat-grid-tile-footer>
         </a>
      </mat-grid-tile>
   </mat-grid-list>
</div>
