.container {
  height: 100vh;
  max-width: 1320px;
  margin: auto;
}

.book-description {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.book-details {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}
