<app-header></app-header>

<mat-grid-list class="container" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">

    <mat-grid-tile [colspan]="colspan">
      <mat-card class="project-description">
        <mat-card-header>
          <mat-card-title>{{ book.title }}</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p>{{ book.summary }}</p>
        </mat-card-content>
      </mat-card>
  
    </mat-grid-tile>
  
    <mat-grid-tile >
      <app-book-details></app-book-details>
    </mat-grid-tile>
  </mat-grid-list>

<app-footer></app-footer>
