@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .signup-page-container {
      color: mat.get-color-from-palette($primary-palette, 900);
      background-color: mat.get-color-from-palette($primary-palette, 50);
   }
}

// typography mixin
@mixin typography($theme) {
   .signup-page-container {
      font: mat.font-family($typography-config);
   }
}

// theme mixin
@mixin theme($theme) {
}
