<app-header></app-header>
<app-announcement-banner></app-announcement-banner>

<mat-grid-list class="container" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">

  <mat-grid-tile [colspan]="colspan">

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>My Library App</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="mat-headline-5">Content goes here</p>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="colspan">
    <p>Content goes here</p>
  </mat-grid-tile>

</mat-grid-list>

<app-footer></app-footer>
