<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
   @for (recentBook of recentBooks; track recentBook) {

   <mat-grid-tile [colspan]="colspan" [rowspan]="rowspan">
      <mat-card class="book-card" appearance="raised">
         <mat-card-header>
            <mat-card-title>{{ recentBook.title }}</mat-card-title>
            <mat-card-subtitle>{{ recentBook.author }}</mat-card-subtitle>
         </mat-card-header>

         <span class="spacer"></span>

         <mat-card-actions>
            <a mat-button color="primary" routerLink="/books/{{ recentBook._id }}">OPEN</a>
         </mat-card-actions>
      </mat-card>
   </mat-grid-tile>
   }
</mat-grid-list>
