<app-header></app-header>
<app-announcement-banner></app-announcement-banner>

<main class="signin-page-container">
  <form [formGroup]="signinForm" novalidate (ngSubmit)="onSubmitSignIn()">
    <mat-card class="signin-form">
      <!-- TITLE TEXT -->
      <div class="title-text">
        <h3 class="mat-headline-3">Sign In</h3>
        <h4 class="mat-headline-4">Get access to your account</h4>
      </div>

      <!-- EMAIL (email) -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="name@example.com" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="signinForm.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <!-- PASSWORD (password) -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="signinForm.invalid"></mat-error>
      </mat-form-field>

      <!-- FORM CHECK -->
      <div class="form-check">
        <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
        <span class="spacer"></span>
        <a mat-button color="primary" routerLink="/reset-password">Forgot Password?</a>
      </div>

      <!-- SIGN IN BUTTON -->
      <div class="card-actions">
        <button mat-flat-button color="primary" type="submit">Sign In</button>
      </div>

      <a mat-button color="primary" routerLink="/signup">Create an account</a>
    </mat-card>

    <div class="copyright-text">
      <p class="mat-caption">Copyright 2023 Greg Wiley</p>
    </div>
  </form>
</main>
