.signin-form {
    max-width: 400px;
    margin: 10rem auto;
    // border-radius: 8px;
    // box-shadow: none;
    // border: 0.5px solid gainsboro;
    padding: 1.5rem;
}

.full-width {
    width: 100%;
    margin: 0.4rem 0;
}

mat-card-title,
mat-card-subtitle {
    text-align: center;
}
