.banner {
  background-image: url("../../assets/images/banner-image.jpg");
  background-size: cover;
  background-position: top;
  height: 200px;
  opacity: 0.6;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin: 0;
  padding: 4rem;
  color: rgb(0, 0, 0);
}
