<form [formGroup]="issueForm" #formDir novalidate (ngSubmit)="onSaveIssue()">
	<mat-card class="issue-form">
		<mat-card-header>
			<mat-card-title>Create Issue</mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<div class="row">
				<!-- row -->
				<!-- TITLE (title) -->
				<mat-form-field class="full-width" appearance="outline">
					<mat-label>Issue Title</mat-label>
					<input matInput type="text" formControlName="title" />
					<mat-error>Please enter a issue title.</mat-error>
				</mat-form-field>
			</div>
			<!-- row -->

			<div class="row">
				<!-- DESCRIPTION (description) -->
				<mat-form-field class="full-width" appearance="outline">
					<mat-label>Description</mat-label>
					<textarea
						matInput
						rows="10"
						formControlName="description"
					></textarea>
					<mat-error>Please provide a issue description.</mat-error>
				</mat-form-field>
			</div>
			<!-- row -->

			<div class="col">
				<!-- column -->

				<!-- CATEGORY (category) -->
				<mat-form-field class="full-width" appearance="outline">
					<mat-label>Issue Category</mat-label>
					<mat-select matNativeControl formControlName="category">
						<mat-option value="Tutorial">Tutorial</mat-option>
						<mat-option value="Personal Project"
							>Personal Project</mat-option
						>
						<mat-option value="GIS Project">GIS Project</mat-option>
					</mat-select>
					<mat-error>Please enter a project category.</mat-error>
				</mat-form-field>
			</div>

			<div class="col">
				<!-- STATUS (status) -->
				<mat-form-field class="full-width" appearance="outline">
					<mat-label>Issue Status</mat-label>
					<mat-select matNativeControl formControlName="status">
						<mat-option value="Not Started">Not Started</mat-option>
						<mat-option value="In Development">In Development</mat-option>
						<mat-option value="Completed">Completed</mat-option>
					</mat-select>
					<mat-error>Please enter a project status.</mat-error>
				</mat-form-field>
			</div>
		</mat-card-content>

		<mat-card-actions>
			<button
				mat-flat-button
				color="primary"
				type="submit"
				[disabled]="!issueForm.valid"
			>
				Create Issue
			</button>

			<button mat-flat-button color="warn" type="button">Reset</button>
		</mat-card-actions>
	</mat-card>
</form>
