<app-header></app-header>
<app-announcement-banner></app-announcement-banner>

<mat-grid-list class="container" [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
   <mat-grid-tile [colspan]="colspan">
      <mat-card class="card">
         <mat-card-header>
            <mat-card-title>My Profile</mat-card-title>
         </mat-card-header>

         <mat-card-content>
            <p>My Profile information will go here</p>
         </mat-card-content>
      </mat-card>
   </mat-grid-tile>

   <mat-grid-tile [colspan]="colspan">
      <mat-card>
         <p>Additioanl content</p>
      </mat-card>
   </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
