.container {
  // background-color: rgb(22, 67, 67);
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

mat-grid-tile {
  //   background-color: cadetblue;
  border: 1px red solid;
}
