@use "@angular/material" as mat;

@include mat.core();

// define the light theme primary color
$light-primary: mat.define-palette(
  mat.$teal-palette,
  $default: 900,
  $lighter: 100,
  $darker: 100,
  $text: 900
);

// define the light theme accent color
$light-accent: mat.define-palette(
  mat.$grey-palette,
  $default: 900,
  $lighter: 100,
  $darker: 100,
  $text: 900
);

// define the light theme warn color
$light-warn: mat.define-palette(
  mat.$red-palette,
  $default: 900,
  $lighter: 100,
  $darker: 100,
  $text: 900
);

// define the dark theme primary color
$dark-primary: mat.define-palette(
  mat.$light-green-palette,
  $default: 900,
  $lighter: 50,
  $darker: 100,
  $text: 900
);
// define the dark theme accent color
$dark-accent: mat.define-palette(
  mat.$indigo-palette,
  $default: 600,
  $lighter: 500,
  $darker: 100,
  $text: 900
);

// define the dark theme warn color
$dark-warn: mat.define-palette(
  mat.$red-palette,
  $default: 900,
  $lighter: 100,
  $darker: 100,
  $text: 900
);

// CUSTOM TOPOGRAPGY
$custom-typography: mat.define-typography-config(
  $headline-1:
    mat.define-typography-level(97px, 1, 100, $letter-spacing: -1.5px),
  $headline-2:
    mat.define-typography-level(61px, 1, 100, $letter-spacing: -0.5px),
  $headline-3: mat.define-typography-level(48px, 1, 400, $letter-spacing: 0px),
  $headline-4:
    mat.define-typography-level(34px, 1, 400, $letter-spacing: 0.25px),
  $headline-5: mat.define-typography-level(24px, 1, 400, $letter-spacing: 0px),
  $headline-6:
    mat.define-typography-level(20px, 1, 400, $letter-spacing: 0.15px),
  $subtitle-1: mat.define-typography-level(16px, 1, 400, $letter-spacing: 0.2px),
  $subtitle-2:
    mat.define-typography-level(14px, 1, 500, $letter-spacing: 0.15px),
  $body-1: mat.define-typography-level(16px, 1, 400, $letter-spacing: 0.5px),
  $body-2: mat.define-typography-level(14px, 1, 400, $letter-spacing: 0.25px),
  $caption: mat.define-typography-level(12px, 1, 400, $letter-spacing: 0.4px),
  $button: mat.define-typography-level(14px, 1, 500, $letter-spacing: 1.25px),
);

// define the light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    typography: $custom-typography,
    density: 0,
  )
);

// define the dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// apply the light theme as default
@include mat.all-component-themes($light-theme);

// apply the dark theme only when the user prefers dark themes
@media (prefers-color-scheme: dark) {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
}
