<footer class="footer">
  <!-- footer content -->
  <div class="footer-content">
     <!-- footer copyright -->
     <div class="footer-copyright">
        <a href="/" class="footer-link">
           <img src="../../../assets/logos/cube-svgrepo-com.svg" alt="logo" width="30px" height="30px" />
        </a>
        <span>&copy; {{ year }} Gregory Wiley</span>
     </div>

     <!-- footer logos -->
     <div class="footer-logos">
        <a href="https://angular.io/" target="_blank">
           <img src="../../../assets/logos/angular-logo.svg" alt="logo" width="30px" height="30px" />
        </a>
        <a href="https://angular.io/" target="_blank">
           <img src="../../../assets/logos/github-mark.svg" alt="logo" width="30px" height="30px" />
        </a>
     </div>
  </div>
</footer>