.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;
  padding-bottom: 5rem;

  background: linear-gradient(45deg, rgb(118, 232, 120), rgb(34, 124, 42));
}
